* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: Arial, sans-serif;
	scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600");

$primaryclr: #8685ef;

// #region [rgba(5,99,777,0.15)]
// * colors

#header {
	background-color: #999;
}
.section-one,
.section-two,
.section-three {
	background-color: #faf8ff;
}

// #endregion

#header {
	display: flex;
	width: 100%;
	align-items: center;
	position: fixed;
	min-height: 3em;
	z-index: 2;
	#header-img {
		width: 9em;
		background-color: #faf8ff;
	}
	#nav-bar {
		display: flex;
		width: 100%;
		ul {
			width: 100%;
			justify-content: space-around;
			li {
				float: right;
				padding: 0 min(2rem, 2%);
				a {
					font-family: "Titillium Web";
					text-transform: uppercase;
					font-weight: 520;
					font-size: 0.9rem;
					letter-spacing: 0.15em;
					display: inline-block;
					position: relative;
					color: white;
					letter-spacing: 3px;
					&::after {
						background: none repeat scroll 0 0 transparent;
						bottom: 0;
						content: "";
						display: block;
						height: 2px;
						left: 50%;
						position: absolute;
						background: $primaryclr;
						transition: width 0.3s ease 0s, left 0.3s ease 0s;
						width: 0;
					}
					&:hover::after {
						width: 100%;
						left: 0;
					}
					&:hover {
						color: $primaryclr;
					}
				}
			}
		}
	}
}

.container {
	width: 100%;
	height: 100vh;
	scroll-snap-type: y proximity;
	overflow-y: scroll;
	.vid,
	.thingi,
	#form {
		scroll-snap-align: start;
	}
	.vid {
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	#form {
		background-size: cover;
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: space-around;
		.inputs {
			width: min(95%, 25rem);
			#submit {
				cursor: pointer;
				letter-spacing: 2px;
			}
			input {
				box-sizing: border-box;
				border: none;
				outline: 0.13em solid $primaryclr;
				height: 3em;
				width: 100%;
				padding: 1em;
				margin-bottom: 2em;
				font-weight: bold;
				background: transparent;
				text-transform: uppercase;
				transition: transform 300ms ease-in-out;
				transition: 300ms ease-in-out;
			}
			span {
				position: relative;
				z-index: 0;
				display: block;
				height: 2.5em;

				&::after {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background-color: $primaryclr;
					z-index: -1;
					transform: scaleX(0);
					transform-origin: right;
					transition: transform 300ms ease-in-out;
					transition: 300ms ease-in-out;
				}
				&:hover::after {
					transform: scaleX(1);
					transform-origin: left;
				}
				&:hover input {
					outline: 0.13em solid $primaryclr;
					color: #faf8ff;
				}
			}
		}
	}

	.thingi {
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: space-around;
		.box-left {
			margin-left: 15%;
		}
		.box-right {
			margin-right: 15%;
		}
		.box {
			width: 15%;
			min-height: 45vh;
			border: 0.5px solid #999;
			background: #b5b2c4;
			color: $primaryclr;
			h2 {
				padding: 1em;
				text-align: center;
			}
			p {
				color: #faf8ff;
				padding: 1em;
				padding-bottom: 2em;
				font-size: 1.125rem;
				line-height: 1.5rem;
			}
		}
	}
}

@media (max-width: 768px) {
	.container {
		.thingi {
			display: flex;
			justify-content: center;
			.box {
				width: 25%;
				margin: 10px;
			}
		}
	}
}

@media (max-width: 460px) {
	#header {
		// position: absolute;
		position: fixed;
		bottom: 0;
		img {
			display: none;
		}
		#nav-bar {
			ul {
				width: 100%;
				display: flex;
				justify-content: space-around;
				li {
					float: none;
					padding: 0;
				}
			}
		}
	}
	.container {
		.vid,
		.thingi,
		#form {
			scroll-snap-align: none;
		}
		.thingi {
			display: block;
			.box {
				width: min(90%);
				margin: 1rem auto;
			}
			.box-right {
				margin-bottom: 4rem;
			}
		}
	}
}
