@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

#header {
  background-color: #999;
}

.section-one,
.section-two,
.section-three {
  background-color: #faf8ff;
}

#header {
  display: flex;
  width: 100%;
  align-items: center;
  position: fixed;
  min-height: 3em;
  z-index: 2;
}
#header #header-img {
  width: 9em;
  background-color: #faf8ff;
}
#header #nav-bar {
  display: flex;
  width: 100%;
}
#header #nav-bar ul {
  width: 100%;
  justify-content: space-around;
}
#header #nav-bar ul li {
  float: right;
  padding: 0 min(2rem, 2%);
}
#header #nav-bar ul li a {
  font-family: "Titillium Web";
  text-transform: uppercase;
  font-weight: 520;
  font-size: 0.9rem;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
  color: white;
  letter-spacing: 3px;
}
#header #nav-bar ul li a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #8685ef;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#header #nav-bar ul li a:hover::after {
  width: 100%;
  left: 0;
}
#header #nav-bar ul li a:hover {
  color: #8685ef;
}

.container {
  width: 100%;
  height: 100vh;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  overflow-y: scroll;
}
.container .vid,
.container .thingi,
.container #form {
  scroll-snap-align: start;
}
.container .vid {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container #form {
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container #form .inputs {
  width: min(95%, 25rem);
}
.container #form .inputs #submit {
  cursor: pointer;
  letter-spacing: 2px;
}
.container #form .inputs input {
  box-sizing: border-box;
  border: none;
  outline: 0.13em solid #8685ef;
  height: 3em;
  width: 100%;
  padding: 1em;
  margin-bottom: 2em;
  font-weight: bold;
  background: transparent;
  text-transform: uppercase;
  transition: transform 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.container #form .inputs span {
  position: relative;
  z-index: 0;
  display: block;
  height: 2.5em;
}
.container #form .inputs span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #8685ef;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.container #form .inputs span:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.container #form .inputs span:hover input {
  outline: 0.13em solid #8685ef;
  color: #faf8ff;
}
.container .thingi {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container .thingi .box-left {
  margin-left: 15%;
}
.container .thingi .box-right {
  margin-right: 15%;
}
.container .thingi .box {
  width: 15%;
  min-height: 45vh;
  border: 0.5px solid #999;
  background: #b5b2c4;
  color: #8685ef;
}
.container .thingi .box h2 {
  padding: 1em;
  text-align: center;
}
.container .thingi .box p {
  color: #faf8ff;
  padding: 1em;
  padding-bottom: 2em;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

@media (max-width: 768px) {
  .container .thingi {
    display: flex;
    justify-content: center;
  }
  .container .thingi .box {
    width: 25%;
    margin: 10px;
  }
}
@media (max-width: 460px) {
  #header {
    position: fixed;
    bottom: 0;
  }
  #header img {
    display: none;
  }
  #header #nav-bar ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  #header #nav-bar ul li {
    float: none;
    padding: 0;
  }

  .container .vid,
.container .thingi,
.container #form {
    scroll-snap-align: none;
  }
  .container .thingi {
    display: block;
  }
  .container .thingi .box {
    width: min(90%);
    margin: 1rem auto;
  }
  .container .thingi .box-right {
    margin-bottom: 4rem;
  }
}/*# sourceMappingURL=main.css.map */